*~
*.bak
*,cover
.coverage
dist/
htmlcov/
.idea/
.ipynb_checkpoints/
MANIFEST
.noseids
*.pdf
*.pyc
__pycache__
*.pyo
.Python
python-example_files/
python-example.pdf
README
results.html
*.swp
target/
